{{#each errors}}
<div class="row ">
        <div class="col offset-s2 s8 center ">
            <div class="card red">
                <div class="card-content">
                    <span class="card-title white-text">
                        <h5>{{text}}</h5>
                    </span>
                </div>
            </div>
        </div>
    </div>
{{else}}
{{/each}}
