<footer>
    <nav class="navbar navbar-dark bg-dark footer">
        <div class="container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Copyright 2018</a>
                </li>
            </ul>
        </div>
    </nav>
</footer>