<div class="row">
    <div class="col s8">
      <div class="card">
        <div class="card-content">
          <span class="card-title"><h1>Welcome to Jotter</h1></span>
          <p>Register to start taking notes!</p>
        </div>
        <div class="card-action">
          <a class="btn btn-outline-dark btn-lg" href="#" role="button">Login </a>
  <a class="btn btn-success btn-lg" href="#" role="button">Register</a>
        </div>
      </div>
    </div>
  </div>